.filter {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px;
}

.intro {
    margin-top: auto;
    text-align: center;
}

#scrolly-side .scrolly{
    display: flex;
    width: 75rem;
    margin: 3rem auto;
    background-color: orange;
    padding: 1rem;
}
article {
    padding-right: 1 rem;
    max-width:30rem;
}
.step {
    max-width: 150px;
    min-height: 40vh;
    margin-bottom: 1rem;
    background-color:steelblue;
    flex: 1;
    transition: background-color 250ms ease-in-out
    /* &: last-of-type: margin-bottom: 0;
    &.is-active: background-color: teal; */
}
figure.sticky {
    position: sticky;
    width: 50%;
    height: 77vh;
    flex: 2;
    background: #FFFFFF;
    margin: 0;
    margin-left: 8px;
    top: 25vh;
    left:0;
}
.bar-outer{
			position: absolute;
			top: 10%;
			left: 5%;
			transform: translateY(-50%);
			width: 80%;
			height: 3rem;
			background-color: #fff;
        }
		
